<a href="https://colab.research.google.com/github/mhurtado28/ENCODING-FEATURE/blob/main/Feature_Engineer_ENCODING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTE DE DATOS**

Importamos un dataset proveniente del siguiente enlace en Kaggle https://www.kaggle.com/datasets/banashreebs/telecom-churn-prediction-classification

In [ ]:
# Primero cargamos el dataset y el siguiente paso es hacer una lectura del dataframe por medio de una url
from IPython.display import clear_output

In [ ]:
!pip install PyDrive
clear_output()

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
url = 'https://drive.google.com/file/d/14VAbGoPK0d-zHOTmPZgsZpXxGmI91E0w/view?usp=share_link'
id = url.split('/')[-2]
drive.CreateFile({"id": id}).GetContentFile("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [ ]:
# Importamos las librerías para el desafío:
import pandas as pd
import numpy as np
import os
import sys

import statsmodels.api as sm

In [ ]:
#Cargamos el Dataset
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv', sep=',')
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [ ]:
df = df.drop(['customerID']  , 1)
df = df.drop(['TotalCharges'], 1)

<ipython-input-45-55f011eda0cb>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['customerID']  , 1)
<ipython-input-45-55f011eda0cb>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['TotalCharges'], 1)

# **LABEL ENCODING**

Para aplicar un Label Encoding hacemos lo siguiente:

In [ ]:
# APLICAMOS EL METODO DE LABEL ENCODING A NUESTRO SET DE DATOS
from sklearn.preprocessing import LabelEncoder

# Agrupamos las variables numéricas y categóricas, cada una en dos nuevos Dataframes
num_data = df.select_dtypes(include=['int64', 'float64'])
cat_data = df.select_dtypes(include=['object'])

# Aplicando label encoding sobre las agrupaciones creadas
le = LabelEncoder()
cat_data = cat_data.apply(lambda col: le.fit_transform(col))

#Concatenamos el resultado del label encoding con las variables numéricas existentes
label_df = pd.concat([num_data, cat_data], axis=1)

In [ ]:
# #El resultado de Label Encoding es el siguiente:
label_df.head(5)

,SeniorCitizen,tenure,MonthlyCharges,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0,1,29.85,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,0
1,0,34,56.95,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,0
2,0,2,53.85,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,1
3,0,45,42.30,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,0
4,0,2,70.70,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,1

# **One Hot Encoding**

In [ ]:
#ONE HOT ENCODING

#Se agrupan las variables que son categóricas y se identifican el número de Targets (Etiquetas) que tiene la variable
encoding_col=[]
for i in df.select_dtypes(include='object'):   
    print(i,'-->',df[i].nunique())
    encoding_col.append(i)

#Hacemos una copia del dataset cargado para aplicar el metodo One Hot Encoding
df_onehot = df.copy()

# Aplicamos el metodo One Hot Encoding
df_onehot = pd.get_dummies(df_onehot, drop_first=True, columns = encoding_col, prefix = encoding_col)

gender --> 2
Partner --> 2
Dependents --> 2
PhoneService --> 2
MultipleLines --> 3
InternetService --> 3
OnlineSecurity --> 3
OnlineBackup --> 3
DeviceProtection --> 3
TechSupport --> 3
StreamingTV --> 3
StreamingMovies --> 3
Contract --> 3
PaperlessBilling --> 2
PaymentMethod --> 4
Churn --> 2

In [ ]:
#El resultado del One Hot Encoding es el siguiente:
df_onehot.head(5)

,SeniorCitizen,tenure,MonthlyCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,1,0,1